spring:
  jmx:
    enabled: false
  first-datasource:
    url: jdbc:h2:mem:testdb
  second-datasource:
    url: jdbc:h2:mem:testdb2

ssh:
  shell:
    authentication: security
    auth-provider-bean-name: customAuthManager
    authorized-public-keys-file: samples/public-keys-sample
    extended-file-provider: false
    commands:
      actuator:
        excludes:
          - audit
      jvm:
        enable: false
      threads:
        enable: false
      manage-sessions:
        enable: true
      datasource:
        excludes:
    host: 0.0.0.0
    shared-history: false
    history-directory: ./target

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    shutdown:
      enabled: true
    threaddump:
      enabled: false
    health:
      group:
        nocommands:
          include: '*'
          exclude:
            - demo-command
        commands:
          include:
            - demo-command


logging:
  level:
    com.github.fonimus: debug

info:
  build:
    groupId: ${project.artifactId}
    artifactId: ${project.groupId}
    version: ${project.version}
  dependencies:
    spring-boot: ${spring-boot.version}
    spring-shell: ${spring-shell.version}
