name: Reusable Build

on:
  workflow_call:
    inputs:
      ref:
        required: false
        type: string
        default: ''
        description: Ref to checkout
      sonar_analysis:
        required: false
        type: boolean
        default: true
        description: Whether to make sonar analysis (sonar_token and gh_token become mandatory)
    secrets:
      sonar_token:
        required: false
      gh_token:
        required: false

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - name: Set up JDK 17
        uses: actions/setup-java@v3.10.0
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Build
        run: mvn -B -ntp verify

      - name: Cache sonar packages
        if: ${{ inputs.sonar_analysis == true }}
        uses: actions/cache@v3.3.1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Analyze
        if: ${{ inputs.sonar_analysis == true }}
        run: mvn -B -ntp org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
        env:
          GITHUB_TOKEN: ${{ secrets.gh_token }}
          SONAR_TOKEN: ${{ secrets.sonar_token }}
